/** @format */

.footer {
  background-color: var(--Blue-950);
  padding: 60px 10%;
  color: var(--White);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

/* Left */

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.social {
  display: flex;
  gap: 15px;
}

.social img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social img:hover {
  transform: scale(1.1);
}

/* Links */

.footer-links {
  display: flex;
  gap: 80px;
}

.links-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links a {
  color: var(--Gray-100);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--Green-500);
}

/* Right */

.footer-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-btn {
  background: linear-gradient(45deg, var(--Cyan-400), var(--Green-500));
  border: none;
  padding: 10px 24px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-btn:hover {
  opacity: 0.85;
}
